.idea
nbproject/
temp/
phpunit.xml
temp/
*node_modules*
.svn
.DS_Store
.svn/*
*.swp
.env
.metadata/*
.metadata
*development*
*.tmp
#vim
*.un~
*.swp*
bower_components
.buildpath
.project
.settings
.settings/*
*.pyc
databaseSettings.xml
debugger.xml
IntelliLang.xml
web-browsers.xml
ide.general.xml
baseRefactoring.xml
code.style.schemes.xml
diff.xml
*.xml
_mac/*
inspection/*
_mac
inspection
dump.rdb
.tags
.tags_sorted_by_file
.phpintel/
nbproject/
phpunit.xml
*node_modules*
*.un~
_ide_helper.php
vendor/.git
.buildpath
.project
